@inherits UmbracoViewPage

 <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Promotion</h2>
                            <h3 class="post-subtitle">Don't miss our special offers!</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Azzurie Aqil</a>
                            on September 13, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Cards</h2>
                            <h3 class="post-subtitle">Enjoy interests, easy mobile access and a seamless banking experience.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Azzurie Aqil</a>
                            on September 18, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Banking</h2>
                            <h3 class="post-subtitle">Managing your finances anytime, anywhere with PBe Banking.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Azzurie Aqil</a>
                            on August 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Invest</h2>
                            <h3 class="post-subtitle">Get rich quickly by putting money on us!</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Azzurie Aqil</a>
                            on July 8, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>