@model string

<center><div>
    <form action="@Model" method="get">
        <input type="text" placeholder="Search..." id="query" name="query" required />
        <button> SEARCH </button>
    </form>
</div></center>